* {
    margin: 0;
    padding: 0;
}

/* primary styles */
body {
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    padding: 15px 40px;
    border: none;
    border-radius: 8px;
    background-color: #E55473;
}
/* banner styles */
.banner {
    height: 90vh;
    display: flex;
    background-color: #E554731A;
    align-items: center;
    justify-content: space-around;
}

.banner-content {
    margin-left: 150px;
}

.bannner-title {
    color: #272727;
    font-family: Lato;
    font-size: 70px;
    font-weight: 800;
}

.banner-description {
    width: 90%;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-image img {
    width: 500px;
    height: 90vh;
    margin-right: 150px;
}

/* Our Featured Flowers styles */
.section-title {
    margin-top: 100px;
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    width: 50%;
    margin: auto;
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;

}

/* Our Featured Flowers images styles */
.section-images {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.image {
    width: 30%;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
}

.image img {
    width: 240px;
    height: 350px;
    margin-top: 50px;
}

.bg-color-one {
    background: rgba(167, 33, 98, 0.15);  
} 

.bg-color-two {
    background: rgba(5, 151, 160, 0.15);
}

.bg-color-three {
    background: rgba(71, 125, 17, 0.15);

}

/* image names styles */
.images-name {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.images-name h2 {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-bottom: 30px;
}

/* hot deal section styles */
.hot-deal-section {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);

}

.hot-deal-info {
    width: 50%;
    text-align: center;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.hot-deal-title span {
    color: red;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.hot-deal-image img {
    width: 300px;
    height: 400px;
}

/*** Bonus New Feature Styles ***/

.section-description span {
    color: red;
}
.shoping-cards {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 30px;
}

.card {
    width: 300px;
    height: 400px;
    box-shadow: 4px 4px 4px 4px #E55473;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.card-image {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-title {
    font-size: 30px;
}

.card_btn {
    background: transparent;
    margin-top: 10px;
    padding: 5px 15px;
    border: 2px solid  #E55473;
    border-radius: 30px;
}

.card_btn:hover{
    background-color: #E55473;
    border: 2px solid rgb(255, 3, 3);
    margin-top: -2px;
    color: white;
    transition: 0.4;
}

/*Instagram section styles*/
.instagram {
    margin-bottom: 30px;
}
.intagram-all-images {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}
.instagram-image img {
    width: 250px;
    height: 250px;

}